<%= render 'shared/header' %>
  <div class="wrap">

    <div class="about_us">
      <div class="mission sections clearfix">
        <p class="headline">ABOUT US<!-- <em><a href="/users/sign_in">welcome</a></em> --></p>
        <h2 class="under_head">It is design&idea products shop but also trending item platform.</h2>
        <!-- <div class="left">
          <p><span>#1</span> "HOTDEAL-FUL"is the curation platform to discover awesome products from around the world. Staying up to date with the latest tech, the newest brilliant inventions, odd gadgets unique & weird design products.</p>
        </div> -->
        <div class="left">
          <p><span>#1</span>"Avenue71"은 다양한 나라의 디자인제품, 재밌고 독특한 아이디어 제품만을 모아모아 소개하는 큐레이팅 Shopd입니다." 국내 뿐만 아니라 
          해외에서 인기있는 상품, 인테리어 하기 좋은 디자인 제품 또는 재밌고 톡톡튀는 아이디어 상품 등을 쉽고 빠르게 찾아 볼 수 있습니다.</p>
        </div>
        <div class="right">
          <p><span>#2</span> "Avenue71"은 쿠팡, 알리익스프레스, 아마존을 비롯한 다양한 나라의 온라인 쇼핑몰과의 Affiliate Program을 통해 일정의 수수료를 지급 받고 받습니다. [It is a participant in the Amazon Services LLC Associates Program & the Amazon EU Associates Program.]</p>
        </div>
        
      <!--  <h2>Our Mission</h2>
       <p><span>#1</span> "HOTDEAL-FUL"is the curation platform to discover awesome products from around the world. Staying up to date with the latest tech, the newest brilliant inventions, odd gadgets unique & weird design products.
       </p>
       <p><span>#2</span> "HOTDEAL-FUL" is the deal information platform to find thousands of Amazon best deals, coupon codes, promotions you love. Easy to keep up to date with the latest information of promotion codes, coupons, sales and so on. <br />We are going to update more information of other online stores!! Coming Soon  :D</p> -->
      </div>

     <!--  <div class="works sections clearfix">
        <p class="bodyline">HOW DOES IT WORK</p>

        <div class="left works_box">
          <h3>Discover & Curated</h3>
          <p>We have discovered trending items form all around the world.</p>
          <p>We have picked the best deals on Amazon.</p>
        </div>

        <div class="middle works_box">
          <h3>Sharing</h3>
          <p>We Discover the best deals and trending items</p>
        </div>

        <div class="right works_box">
          <h3>Win-Win</h3>
          <p>We Discover the best deals and trending items</p>
        </div>

      </div> -->

      <!--  <div class="support">
          <p>"HOTDEAL-FUL" contains affiliate links, which means that if you click on one of the product links, we’ll receive a small commission. This helps support us and allows us sto continue to find and share good prodcuts and deals. Thank you for the support!</p>
        </div> -->


      <div class="qna sections clearfix">
       <p class="bodyline">Q & A</p>
       <h3># Ave71은 어떤 Shop인가요?</h3>
       <p>"Avenue71"은 다양한 나라의 디자인제품, 재밌고 독특한 아이디어 제품만을 모아모아 소개하는 큐레이팅 Shop입니다."<br />다양한 국가에서 판매중인 상품에 대해서 어디에서 얼마에 살 수 있는지 쉽고 편리하게 알아 볼 수있습니다.</p>
       <h3># 실제로 상품을 판매 하는건가요?</h3>
       <p>"Avenue71"은 해당 상품을 판매하는 당사자가 아니며 큐레이팅한 상품의 판매자와 링크를 통해 연결을 해줍니다.</p>
       <!-- <p>Please remember that we are not an actual webstore. We do not sell anything ourselves, and we do not ship anything ourselves. We cannot assist you with your purchase orders, and we do not know if a product can be shipped internationally.</p> -->
       <h3># 상품의 페이지가 없거나 가격 정보가 다릅니다.</h3>
       <p>해당 상품의 포스팅 시간 기준으로 큐레이팅한 상품의 평점 및 리뷰 수 그리고 가격 정보가 달라질 수 있습니다. 또한 인기가 많은 상품의 경우 빠르게 품절이 될 수 있습니다.</p>
       <!-- <a href="/messages/new">Contact Us</a> -->
       <!-- <a href="#">ohigottabuythis@gmail.com</a> -->
      </div>

      <!-- <div class="bottom sections clearfix">
        <h2>Source</h2>
        <ul>
          <li>- Icons made by <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></li>
        </ul>
        <p>"" acknowledge some content in this process, the aim is to provide for the convenience to the user. By specifying the source, we respect other people`s rights, as well as to provide support for those who own the contents. Please let us know if your writing has been copied in a way that infringes on copyright infringement, and we will try to work hard to resolve this issue.</p>
  
      </div> -->
  

    
  </div>
</div>




