<div class="wrap">

  <div class="manage_hashtag">
    <h2>해시태그 관리 페이지 | <a href="/">홈으로</a></h2>
    <div class="manage_box fetured-hashtag">
      <h3>Sales Hashtag(Theme 페이지 주제)</h3>
      <ul>
        <p>///// Main Categories /////</p>
        <li><a href="sales/hashtag/tech">#tech</a></li>
        <li><a href="sales/hashtag/homeware">#homeware</a></li>
        <li><a href="sales/hashtag/kitche">#kitche</a></li>
        <li><a href="sales/hashtag/beauty">#beauty</a></li>
        <li><a href="sales/hashtag/outdoor">#outdoor</a></li>
        <li><a href="sales/hashtag/pet">#pet</a></li>
        <li><a href="sales/hashtag/theme">#theme</a></li>
        <br>
        <p>///// Theme Hashtags /////</p>
        <!-- <li><a href="sales/hashtag/해시태그">#해시태그</a></li>
        <li><a href="sales/hashtag/해시태그">#해시태그</a></li>
        <li><a href="sales/hashtag/해시태그">#해시태그</a></li>
        <li><a href="sales/hashtag/해시태그">#해시태그</a></li> -->
      </ul>
    </div>

    <div class="manage_box pick-hashtag">
      <h3>Picks Hashtag</h3>
      <ul>
        <li><a href="/picks/phashtag/kitchen">#kitchen</a></li>
        <li><a href="/picks/phashtag/pet">#pet</a></li>
        <li><a href="/picks/phashtag/homeware">#homeware</a></li>
        <li><a href="/picks/phashtag/tech">#tech</a></li>
        <!-- <li><a href="/picks/phashtag/해시태그">#해시태그</a></li> -->
        
      </ul>
    </div>

    <div class="manage_box fetured-hashtag">
      <h3>Featured Hashtag(블로그&카드뉴스 주제)</h3>
      <ul>
        <li><a href="/featureds/fhashtag/꿀잠필수_무드등">#꿀잠필수_무드등</a></li>
        <li><a href="/featureds/fhashtag/슈퍼마리오_좋아">#슈퍼마리오_좋아</a></li>
        <li><a href="/featureds/fhashtag/예쁨주의_전기포트">#예쁨주의_전기포트</a></li>
        <li><a href="/featureds/fhashtag/자취꿀템_멀티쿠커">#자취꿀템_멀티쿠커</a></li>
        <li><a href="/featureds/fhashtag/둠칫둠칫_블루투스_스피커">#둠칫둠칫_블루투스_스피커</a></li>
        <li><a href="/featureds/fhashtag/고양이_덕후들에게">#고양이_덕후들에게</a></li>
        <li><a href="/featureds/fhashtag/예쁜_텀블러">#예쁜_텀블러</a></li>
        <li><a href="/featureds/fhashtag/평범함은거부_오토토주방용품">#평범함은거부_오토토주방용품</a></li>
        <li><a href="/featureds/fhashtag/재밌는_머그컵">#재밌는_머그컵</a></li>
        <li><a href="/featureds/fhashtag/예쁜_티슈케이스">#예쁜_티슈케이스</a></li>
        <li><a href="/featureds/fhashtag/보조배터리도_예쁘다">#보조배터리도_예쁘다</a></li>
        <li><a href="/featureds/fhashtag/디자인_서랍장">#디자인_서랍장</a></li>
        <li><a href="/featureds/fhashtag/유에스비">#유에스비</a></li>
        <li><a href="/featureds/fhashtag/마블이_좋다">#마블이_좋다</a></li>
        <li><a href="/featureds/fhashtag/짱구가_좋다">#짱구가_좋다</a></li>
        <li><a href="/featureds/fhashtag/카카오_친구들">#카카오_친구들</a></li>
        <li><a href="/featureds/fhashtag/미니언즈_친구들">#미니언즈_친구들</a></li>
        <li><a href="/featureds/fhashtag/블루투스_마우스">#블루투스_마우스</a></li>
        <li><a href="/featureds/fhashtag/블루투스_키보드">#블루투스_키보드</a></li>
        <li><a href="/featureds/fhashtag/예쁜_미니_가습기">#예쁜_미니_가습기</a></li>
        <li><a href="/featureds/fhashtag/간식_메이커">#간식_메이커</a></li>
        <li><a href="/featureds/fhashtag/탁상_알람시계">#탁상_알람시계</a></li>
         <li><a href="/featureds/fhashtag/예쁜_스탠드">#예쁜_스탠드</a></li>
         <li><a href="/featureds/fhashtag/디즈니가_좋다">#디즈니가_좋다</a></li>
        <!-- <li><a href="/featureds/fhashtag/해시태그">#해시태그</a></li>-->
      </ul>
    </div>

  </div>
</div>