<%= render 'shared/header' %>
<div class="wrap">
  <div class="managements">

    <ul class="tabs">
      <li>
        <input type="radio" checked name="tabs" id="tab1">
        <label for="tab1">Sale</label>
        <div id="tab-content1" class="tab-content">
          <a href="sales/hashtag/tech">#tech</a>
          <a href="sales/hashtag/homeware">#homeware</a>
          <a href="sales/hashtag/kitche">#kitche</a>
          <a href="sales/hashtag/beauty">#beauty</a>
          <a href="sales/hashtag/outdoor">#outdoor</a>
          <a href="sales/hashtag/pet">#pet</a>
          <a href="sales/hashtag/theme">#theme</a>
        </div>
      </li>
      <li>
        <input type="radio" name="tabs" id="tab2">
        <label for="tab2">Sale Guide</label>
        <div id="tab-content2" class="tab-content">
          
        </div>
      </li>
      <li>
        <input type="radio" name="tabs" id="tab3">
        <label for="tab3">Picks</label>
        <div id="tab-content3" class="tab-content">
          <a href="/picks/phashtag/kitchen">#kitchen</a>
          <a href="/picks/phashtag/pet">#pet</a>
          <a href="/picks/phashtag/homeware">#homeware</a>
          <a href="/picks/phashtag/tech">#tech</a>
        </div>
      </li>
       <li>
        <input type="radio" name="tabs" id="tab4">
        <label for="tab4">Featureds</label>
        <div id="tab-content4" class="tab-content">
          <a href="/featureds/fhashtag/꿀잠필수_무드등">#꿀잠필수_무드등</a>
          <a href="/featureds/fhashtag/슈퍼마리오_좋아">#슈퍼마리오_좋아</a>
          <a href="/featureds/fhashtag/예쁨주의_전기포트">#예쁨주의_전기포트</a>
          <a href="/featureds/fhashtag/자취꿀템_멀티쿠커">#자취꿀템_멀티쿠커</a>
          <a href="/featureds/fhashtag/둠칫둠칫_블루투스_스피커">#둠칫둠칫_블루투스_스피커</a>
          <a href="/featureds/fhashtag/고양이_덕후들에게">#고양이_덕후들에게</a>
          <a href="/featureds/fhashtag/예쁜_텀블러">#예쁜_텀블러</a>
          <a href="/featureds/fhashtag/평범함은거부_오토토주방용품">#평범함은거부_오토토주방용품</a>
          <a href="/featureds/fhashtag/재밌는_머그컵">#재밌는_머그컵</a>
          <a href="/featureds/fhashtag/예쁜_티슈케이스">#예쁜_티슈케이스</a>
          <a href="/featureds/fhashtag/보조배터리도_예쁘다">#보조배터리도_예쁘다</a>
          <a href="/featureds/fhashtag/디자인_서랍장">#디자인_서랍장</a>
          <a href="/featureds/fhashtag/유에스비">#유에스비</a>
          <a href="/featureds/fhashtag/마블이_좋다">#마블이_좋다</a>
          <a href="/featureds/fhashtag/짱구가_좋다">#짱구가_좋다</a>
          <a href="/featureds/fhashtag/카카오_친구들">#카카오_친구들</a>
          <a href="/featureds/fhashtag/미니언즈_친구들">#미니언즈_친구들</a>
          <a href="/featureds/fhashtag/블루투스_마우스">#블루투스_마우스</a>
          <a href="/featureds/fhashtag/블루투스_키보드">#블루투스_키보드</a>
          <a href="/featureds/fhashtag/예쁜_미니_가습기">#예쁜_미니_가습기</a>
          <a href="/featureds/fhashtag/간식_메이커">#간식_메이커</a>
          <a href="/featureds/fhashtag/탁상_알람시계">#탁상_알람시계</a>
          <a href="/featureds/fhashtag/스탠드_램프">#스탠드_램프프</a>
          <a href="/featureds/fhashtag/디즈니가_좋다">#디즈니가_좋다</a>
          <a href="/featureds/fhashtag/놀아죠_도라에몽">#놀아죠_도라에몽</a>
          <a href="/featureds/fhashtag/카카오프렌즈">#카카오프렌즈</a>
          <a href="/featureds/fhashtag/라인프렌즈">#라인프렌즈즈</a>
          <!-- <a href="/featureds/fhashtag/라인프렌즈">#라인프렌즈즈</a> -->
        </div>
      </li>
    </ul>

  </div>
</div>