<header>
  <div class='header-container'>
    <div class='mobile_nav'>
      <button class='burger' title='Open and close menu'>
        <!-- <span class='mobile_nav__label'>Open and close menu</span> -->
        <div class='top stripe'></div>
        <div class='middle stripe'></div>
        <div class='bottom stripe'></div>
      </button>
    </div>
    <div class='mobile_menu'>
      <nav>
        <ul>
          <!-- <li class='visited'><a href='/'>Sale</a></li> -->
          <li><a href='/picks'>Editor's Pick</a></li>
          <li><a href='/'>Sale</a></li>
          <li><a href='/themes'>Sale Guide</a></li>
          
        </ul>
      </nav>
    </div>
    <div class='logo'>
      <span><a href="/">Avenue71</a></span>
    </div>
    <nav class='head_nav'>
      <ul>
        <li><a href='/picks'>Editor's Pick</a></li>
        <li><a href='/'>Sale</a></li>
      </ul>
    </nav>
    <!-- sns share -->
    <div class='icons'>
      <div class='block'>
        <a class='sns_logo face_logo' href='#n' title='facebook'>
          <img src="<%=asset_path 'facebook_logo.png' %>">
        </a>
      </div>
      <div class='block'>
        <a class='sns_logo insta_logo' href='#n' title='instagram'>
          <img src="<%=asset_path 'instagram_logo.png' %>">
        </a>
      </div>
    </div>
  </div>
</header>


<script type="text/javascript">
  $(".mobile_nav").click(function() {

    var mm = $(".mobile_menu"),
        mn = $(".mobile_nav"),
      a = "active";
    
    if (mm.hasClass(a) && mn.hasClass(a)) {
      mm.removeClass(a).fadeOut(200);
      mn.removeClass(a);
      $('.mobile_menu li').each(function(){
        $(this).removeClass('slide');
      });
    } else {
      mm.addClass(a).fadeIn(200);
      mn.addClass(a);
      $('.mobile_menu li').each(function(i){
      var t = $(this);
      setTimeout(function(){ t.addClass('slide'); }, (i+1) * 100);
    });
    }
    
  });

</script>
