<header>
  <div class='header-container'>
    <div class='mobile_nav'>
      <button class='burger' title='Open and close menu'>
        <!-- <span class='mobile_nav__label'>Open and close menu</span> -->
        <div class='top stripe'></div>
        <div class='middle stripe'></div>
        <div class='bottom stripe'></div>
      </button>
    </div>

    <div class='mobile_menu'>

      <div class="search">
        <%= form_for "",url: featureds_path, role: "search", method: :get do %>
          <%= text_field_tag :search, @search_term, placeholder: "특별함을 찾아보세요." %>
        <% end %> 
        <!-- <p>인기 검색어: 선풍기, 키보드</p> -->
      </div> 

      <nav>
        <ul>
          <!-- <li class='visited'><a href='/'>Sale</a></li> -->
          <li class="clearfix">
            <a href='/picks'>Editor's Pick</a>

            <!-- No.1 -->
            <!-- <ul class="sub_menu">
              <li><a href='/picks/phashtag/tech'>- Tech</a></li>
              <li><a href='/picks'>- Homeware</a></li>
              <li><a href='/picks'>- Kitchen</a></li>
              <li><a href='/picks'>- Fashion</a></li>
              <li><a href='/picks'>- Pet Goods</a></li>
              <li><a href='/picks'>- Outdoor</a></li>
              <li><a href='/picks'>- featured</a></li>
            </ul> -->

            <!-- No.2 -->
            <ul class="sub_menu2">
              <li><a href='/picks/phashtag/tech'>Tech</a></li>
              <li><a href='/picks'>Homeware</a></li>
              <li><a href='/picks'>Kitchen</a></li>
              <li><a href='/picks'>Fashion</a></li>
              <li><a href='/picks'>Pet Goods</a></li>
              <li><a href='/picks'>Outdoor</a></li>
              <li><a href='/picks'>featured</a></li>
            </ul>

          </li>

          <li><a href='/bridge/sales'>Sale</a></li>
          <!-- <li><a href='/sales'>Sale</a></li> -->
          <!-- <li><a href='/themes'>Sale Guide</a></li> -->
          
        </ul>
      </nav>
    </div>

    <div class='logo'>
      <span><a href="/">Avenue71</a></span>
    </div>
    <nav class='head_nav'>
      <ul>
        <li><a href='/picks'>Editor's Pick</a></li>
        <li><a href='/bridge/sales'>Sale</a></li>
      </ul>
    </nav>
    <!-- sns share -->
    <div class='icons'>
      <div class='block'>
        <a target="_blank" class='sns_logo face_logo' href='https://www.facebook.com/Avenue71-103453305250071' title='facebook'>
          <img src="<%=asset_path 'facebook_logo.png' %>">
        </a>
      </div>
      <div class='block'>
        <a target="_blank" class='sns_logo insta_logo' href='https://www.instagram.com/avenue7one' title='instagram'>
          <img src="<%=asset_path 'instagram_logo.png' %>">
        </a>
      </div>
    </div>
  </div>
</header>


<script type="text/javascript">
  $(".mobile_nav").click(function() {

    var mm = $(".mobile_menu"),
        mn = $(".mobile_nav"),
      a = "active";
    
    if (mm.hasClass(a) && mn.hasClass(a)) {
      mm.removeClass(a).fadeOut(200);
      mn.removeClass(a);
      $('.mobile_menu li').each(function(){
        $(this).removeClass('slide');
      });
    } else {
      mm.addClass(a).fadeIn(200);
      mn.addClass(a);
      $('.mobile_menu li').each(function(i){
      var t = $(this);
      setTimeout(function(){ t.addClass('slide'); }, (i+1) * 100);
    });
    }
    
  });

</script>
