<% if current_user && current_user.admin %>
  <div class="wrap">
    <h1>Editing Scategory</h1>
    <%= render 'form', scategory: @scategory %>
    <%= link_to 'Show', @scategory %> |
    <%= link_to 'Back', scategories_path %>
  </div>
<% end %>