<div class="main-visual clearfix">

  <div class="v-top clearfix">
    <div class="v-left v-top-comm">
      <div class="image-box">
        <a href="/picks/phashtag/예쁜_내방"><img src="https://images.unsplash.com/photo-1542379565-ffdd88884e5e?ixid=MXwxMjA3fDB8MHxzZWFyY2h8M3x8YXdlc29tZXxlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60"></a>
      </div>
      <div class="inner">
        <p>예쁜 내방 꾸미기 시리즈</p>
        <div class="editor">
          <img src="<%=asset_path 'ave71.png' %>" alt="Avenue71">
          <span>Avenue71</span>
          <em>Editor's Pick</em>
        </div>
      </div>
    </div>

    <div class="v-right v-top-comm">
      <div class="image-box">
        <img src="https://images.unsplash.com/photo-1542379312-d69a543e004a?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MTJ8fGF3ZXNvbWV8ZW58MHx8MHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60">
      </div>
      <div class="inner">
        <p>예쁜 내방 꾸미기 시리즈</p>
        <div class="editor">
          <img src="<%=asset_path 'ave71.png' %>" alt="Avenue71">
          <span>Avenue71</span>
          <em>Editor's Pick</em>
        </div>
      </div>
    </div> 
  </div>

  <div id="slide_wrapper">

      <div class="items">
        <a href="#n">
          <div class="img_box">
            <img src="https://images.unsplash.com/photo-1552386763-fecd1454ff43?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MjR8fGF3ZXNvbWV8ZW58MHx8MHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt=""/>
          </div>
          <div class="inner"><p>1st depth</p></div>
        </a>
      </div>

      <div class="items">
        <a href="#n">
          <div class="img_box">
            <img src="https://images.unsplash.com/photo-1552386763-fecd1454ff43?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MjR8fGF3ZXNvbWV8ZW58MHx8MHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt=""/>
          </div>
          <div class="inner"><p>1st depth</p>  </div>
        </a>
      </div>

      <div class="items">
        <a href="#n">
          <div class="img_box">
            <img src="https://images.unsplash.com/photo-1552386763-fecd1454ff43?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MjR8fGF3ZXNvbWV8ZW58MHx8MHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt=""/>
          </div>
          <div class="inner"><p>1st depth</p>  </div>
        </a>
      </div>

      <div class="items">
        <a href="#n">
          <div class="img_box">
            <img src="https://images.unsplash.com/photo-1552386763-fecd1454ff43?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MjR8fGF3ZXNvbWV8ZW58MHx8MHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt=""/>
          </div>
          <div class="inner"><p>1st depth</p>  </div>
        </a>
      </div>
  </div>

</div>

