/****** Manage Hashtag Page ******/
.managements{margin-top:30px;}
.tabs input[type=radio]{position:absolute;top:-9999px;left:-9999px;}
.tabs{min-width:700px;float:none;list-style:none;position:relative;padding:0;margin:0 auto;}
.tabs li{float:left;}
.tabs label{display:block;padding:7px 10px;margin:0 2px 0 0;color:#666;font-size:1em;background:#f5f5f5;border:1px solid #e6e6e6;cursor:pointer;position:relative;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;}
.tabs label:hover{background:#3D3D3D;color:#fff;text-decoration:underline;}
[id^=tab]:checked + label{background:#C7B3E5;color:#fff;border:none;}
[id^=tab]:checked ~ [id^=tab-content]{display:block;}
.tab-content{z-index:2;display:none;text-align:left;width:100%;font-size:0.9em;padding:7px 10px;position:absolute;top:38px;left:0;-webkit-animation-duration:0.5s;-o-animation-duration:0.5s;-moz-animation-duration:0.5s;animation-duration:0.5s;}
.tab-content a:link{color:#666;margin:0;padding:0 10px 0 5px;border-right:1px solid #ccc;text-decoration:none;}
.tab-content a:visited, .tab-content a:hover, .tab-content a:active{text-decoration:underline;}
.tab-content a:last-child{border-right:none;}
.fg::before, .fg::after{content: " : : ";}


/*** Half & Under Deals ***/
.no_deal{width:400px;margin:50px auto 0 auto;}
.no_deal img{width:400px;}
p.todays_deal_title{font-weight:100;display:inline;box-shadow:inset 0 -10px 0 rgba(241,236,249,0.7);font-size:25px;padding:0 5px;display:block;width:25%;text-align:center;margin-bottom:10px;}

@media screen and (max-width:640px){
  .no_deal{width:100%;margin:85px 0 0 0;}
  .no_deal img{width:100%;}
  p.todays_deal_title{font-size:17px;padding:0 10px;width:55%;}
}

@media screen and (min-width:641px) and (max-width:1199px){
  p.todays_deal_title{font-size:20px;padding:0 10px;width:32%;}
}

/****** Delete_old_post ******/
.destory_old_post{width:1200px;margin:0 auto;}
#customers{border-collapse:collapse;width:100%;text-align:center;}
#customers td, #customers th{border:1px solid #08f;padding:8px;}
#customers td:nth-child(1){width:5%;}
#customers td:nth-child(2){width:65%;}
#customers td:nth-child(3){width:15%;}
#customers td p{word-break:keep-all;line-height:1.4;height:1.4em;overflow:hidden;display:-webkit-box;display:-ms-flexbox;vertical-align:top;text-overflow:ellipsis;-webkit-box-orient:vertical;-webkit-line-clamp:1;}
#customers th{padding-top:12px;padding-bottom:12px;color:#08f;}


/****** Search ******/
.bridge_search{width:800px;margin:50px auto;}
.bridge_search .search{}
.bridge_search .search input{width:100%;padding:20px;border-radius:30px;}

