/* Font */
@import url('https://fonts.googleapis.com/css2?family=Gugi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bowlby+One+SC&display=swap');


h1,h2,h3,h4,h5,h6,p,ul,li,address,form,fieldset,legend,input,button,dl,dt,dd,table,thead,tbody,tfoot,tr,th,td{margin:0;padding:0;font-family:inherit;}
a img{border:0;}/* a태그로 감싼 이미지의 파란 테두리 삭제 (ie9-10) */
a{text-decoration:none;color:#000;}
ul,li{list-style:none;}/* li앞에 동그라미 삭제 */
em,address{font-style:normal;}
fieldset{border:0;}/*테두리삭제*/
legend{display:none;}/* 숨김 */
button{border:0;background:none;cursor:pointer;}
table caption{display:none;}
input, textarea, select{border:1px solid #ccc;-moz-appearance:none;appearance:none;-webkit-appearance:none;outline:none;}
*{box-sizing:border-box;}

.clearfix:after{display:block;clear:both;content:".";visibility:hidden;height:0;}
.clearfix{display:block;}

body{margin:0;padding:0;font-size:15px;color:#000;line-height:1.5;font-weight:300;-webkit-scrollbar:none;font-family: 'Barlow', sans-serif;}
@media screen and (max-width:640px){
  body{font-size:13px;font-weight:400;}
}
@media screen and (min-width:641px) and (max-width:1199px){
  body{font-size:13px;font-weight:400;}
}

.layout{min-width:1200px;width:100%;/*overflow:hidden;position:relative;*/}
.wrap{width:1200px;margin:0 auto;}
@media screen and (max-width:640px){
  .layout{min-width:0;}
  .wrap{width:auto;margin:0 1.5%;}
}
@media screen and (min-width:641px) and (max-width:1199px){
  .layout{min-width:0;}
  .wrap{width:auto;margin:0 3%;}
}


/* Header */
header{height:60px;position:relative;}
header .header-container{display:flex;justify-content:center;align-items:center;width:1200px;margin:0px auto;height:100%;transition:0.3s;}
header .header-container .logo{position:relative;text-align:left;}
header .header-container .logo span:nth-of-type(1){font-family:"Montserrat", sans-serif;font-size:25px;font-weight:600;}
header .header-container .logo span a{display:inline;box-shadow:inset 0 -2px 0 rgba(0,0,0,1);}
header .header-container .mobile_nav{margin:1px 10px 0;display:none;}
header .header-container .mobile_nav .burger{width:19px;height:19px;position:relative;overflow:hidden;}
header .header-container .mobile_nav .burger:active .top, header .header-container .mobile_nav .burger:focus .top, header .header-container .mobile_nav .burger:hover .top{width:60% !important;}
header .header-container .mobile_nav .burger:active .middle, header .header-container .mobile_nav .burger:focus .middle, header .header-container .mobile_nav .burger:hover .middle{width:70% !important;}
header .header-container .mobile_nav .burger:active .bottom, header .header-container .mobile_nav .burger:focus .bottom, header .header-container .mobile_nav .burger:hover .bottom{width:80% !important;}
header .header-container .mobile_nav .burger .mobile_nav__label{margin:-10px 5px;width:135px;position:absolute;}
header .header-container .mobile_nav .burger .stripe{height:4px;background:black;position:absolute;transition:0.2s ease;}
header .header-container .mobile_nav .burger .top{right:0;top:0;width:100%;}
header .header-container .mobile_nav .burger .middle{left:0;top:0;margin:6.9px 0;width:60%;}
header .header-container .mobile_nav .burger .bottom{right:0;top:0;margin:14px 0;width:80%;}
header .header-container .head_nav{margin:0 50px;width:100%;}
header .header-container .head_nav ul{text-align:center;}
header .header-container .head_nav ul .visited a:after{content:"";position:absolute;width:100%;height:4px;background:black;margin:15.5px 0;right:0;}
header .header-container .head_nav ul li{display:inline-block;margin:0 15px;}
header .header-container .head_nav ul li a{text-transform:uppercase;font-weight:700;letter-spacing:0.8px;position:relative;}
header .header-container .head_nav ul li a:after, .visual .category-pc ul li a:after{content:"";position:absolute;width:0%;height:4px;background:black;transition:0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);margin:15.5px 0;right:0;}
header .header-container .head_nav ul li a:hover:after, .visual .category-pc ul li a:hover:after{width:100%;left:0;}
header .header-container .icons{min-width:85px;}
header .header-container .icons a{margin:0 10px 0 0;display:block;height:27px;width:27px;}
header .header-container .icons a img{width:40px;height:40px;}
header .header-container .icons .block{display: inline-block;}
.mobile_menu{background:black;width:90%;height:420px;top:65px;left:0;margin:10px 20px;border-radius:4px;position:absolute;display:none;z-index:999;}
.mobile_menu:before{content:"";position:absolute;width:0;height:0;border-style:solid;border-width:0 15px 15px 15px;border-color:transparent transparent #000000 transparent;margin:-10px 35px;}
.mobile_menu nav{padding:50px;}
.mobile_menu nav ul .slide a{opacity:1;position:relative;animation:hidecolor 0.5s ease;}
.mobile_menu nav ul .slide a:before{content:"";position:absolute;background:#C7B3E5;width:0%;height:35px;animation:slide 0.5s ease;}
.mobile_menu nav ul li{margin:30px 0px;}
.mobile_menu nav ul li a{font-family:"Montserrat", sans-serif;opacity:0;font-size:25px;font-weight:600;padding:10px 0px;color:white;}
@media only screen and (max-width: 1100px) {
  .mobile_menu{display:none;}
  header .header-container{width:700px;}
}
@media only screen and (max-width: 800px) {
  .mobile_menu{display:none;}
  header{padding:0 20px;height:60px;}
  header .header-container{width:100%;}
  header .header-container .icons a{width:25px;height:25px;}
  header .head_nav{display:none;}
  header .logo{width:100%;text-align:center;}
  header .mobile_nav{cursor:pointer;display:block !important;}
  header .mobile_nav .stripe{width:100% !important;}
}

/*@media only screen and (max-width: 500px) {*/
@media screen and (max-width:640px){
  header{padding:0 10px;}
  header .logo{margin-top:6px;}
  header .logo span{font-size:20px !important;}
  header .header-container .icons{margin-top:10px;min-width:74px;}
  header .header-container .icons a{margin-right:5px;}
  header .header-container .icons a img{height:35px;width:35px;}
  header .header-container .mobile_nav{width:15%;margin:0;}

  .mobile_menu{height:295px;}
  .mobile_menu:before{margin:-10px 5px;}
  .mobile_menu nav{padding:30px 50px;}
  .mobile_menu nav ul li{margin:20px 0px;}
  .mobile_menu nav ul li a{font-size:18px;}
  .mobile_menu nav ul li a:before{height:23px !important;}
  
}
@keyframes slide {
  0%{width:0;padding:0px 10px;margin:0px -5px;}
  80%{width:105%;padding:0px 10px;margin:0px -5px;}
  100%{width:0;padding:0 0;}
}
@keyframes hidecolor {
  0%{color:black;}
  75%{color:black;}
  100%{color:white;}
}


/* Pagination */
.pagy-nav{margin:15px 2% 30px 2%;font-size:15px;}
.pagy-nav .page{margin-right:7px;}
.pagy-nav .active{background:#C7B3E5;padding:5px 10px;color:#fff;border-radius:20px;}

/* line controll */
.line-break-01{word-break:keep-all;line-height:1.4;height:1.5em;overflow:hidden;display:-webkit-box;display:-ms-flexbox;vertical-align:top;text-overflow:ellipsis;-webkit-box-orient:vertical;-webkit-line-clamp:1;}
.line-break-02{word-break:keep-all;line-height:1.4;height:2.8em;overflow:hidden;display:-webkit-box;display:-ms-flexbox;vertical-align:top;text-overflow:ellipsis;-webkit-box-orient:vertical;-webkit-line-clamp:2;}


/* _categories.html.erb */
.visual{}
.visual h2{font-size:30px;}
.visual .category-pc{}
.visual .category-pc ul{padding:10px;}
.visual .category-pc ul li{display:inline-block;margin-right:20px;text-transform:uppercase;}
.visual .category-pc ul li a{font-size:15px;/*background:rgba(241,236,249,0.4);*/padding:10px;border-radius:10px;position:relative;}
.visual .category-mobile{display:none;}

.cat-common nav.fixed{position:fixed;top:0;left:0;padding:1em;z-index:9999;background:#fff;width:100%;border-bottom:1px solid #ccc;text-align:center;}
.cat-common nav.fixed a{}
/*.cat-common .navbar{padding:10px 0;}*/
.category-pc{display:-webkit-box;display:flex;-webkit-box-orient:horizontal;-webkit-box-direction: normal;flex-flow: row wrap;-webkit-box-pack:center;/*justify-content:center;*/}
.category-pc:before, .category-pc:after{content:"";background:#ccc;padding:0.5px;-webkit-box-flex:100%;flex:100%;visibility:visible}

@media screen and (max-width:640px){
  .visual{margin:0 3%;}
  .visual h1{margin-left:8px;}
  .visual ul{display:block;margin:0 auto;overflow-x:scroll;white-space:nowrap;overflow-y:hidden;}
  .visual ul li{float:none;display:inline-block;margin-right:10px;line-height:30px;text-transform:uppercase;}
  .visual ul li a{font-size:15px;}
  .cat-common .navbar{padding:10px;}
  .visual .category-pc{display:none;}
  .visual .category-mobile{display:block;border-bottom:1px solid #ccc;padding:10px 0;}
  /*.visual .category-mobile ul.left{float:left;width:80%;}*/
  .visual .category-mobile ul.picks-left{width:100%;}
  .visual .category-mobile ul.right{float:left;width:20%;text-align:center;}
  .visual .category-mobile ul li a{font-size:15px;background:rgba(241,236,249,0.4);padding:10px;border-radius:10px;}
}

@media screen and (min-width:641px) and (max-width:1199px){
  .visual{margin:0 1%;}
  .visual ul{display:block;margin:0 auto;overflow-x:scroll;white-space:nowrap;overflow-y:hidden;}
  .visual ul li{float:none;display:inline-block;margin-right:10px;line-height:30px;text-transform:uppercase;}
  .visual ul li a{font-size:15px;}
  .visual .category-pc{display:none;}
  .visual .category-mobile{display:block;border-bottom:1px solid #ccc;}
  .visual .category-mobile ul.left{float:left;width:80%;}
  .visual .category-mobile ul.right{float:left;width:20%;text-align:center;}
}


/* From */
.hotdeal_form{width:1200px;}
.hotdeal_form .basic_info{width:800px;}
.hotdeal_form input, .hotdeal_form textarea{display:block;width:100%;height:40px;margin-bottom:20px;border:1px solid #ccc;}
.hotdeal_form textarea{height:80px;}
.hotdeal_form trix-editor{min-height:15em;}
.hotdeal_form label{font-size:13px;}
.hotdeal_form .pricing div{float:left;;margin:1%;}
.hotdeal_form .pricing div .promo_code{width:500px;margin-right:1%;}
.hotdeal_form .pricing div .promo_date{width:300px;}
.hotdeal_form .form_btn input{margin-top:10px;background:#000;color:#fff;padding:15px 0;}


/* Btn for back */
.back_btn_mobile{position:fixed;bottom:10px;left:10px;display:none;}
.back_btn_mobile a{display:block;}
.back_btn_mobile a img, .back_btn_mobile button img{width:50px;height:50px;opacity:0.3;}

@media screen and (max-width:640px){
  .back_btn_mobile{display:block;}
}

/* hashtag */
.where-hashtag{margin-left:1%;}
.where-hashtag p{font-size:25px;}
.where-hashtag span{display:inline;box-shadow:inset 0 -10px 0 rgba(241,236,249,0.7);}
.where-hashtag span:after{content:"";width:0;height:10px;display:inline-block;background:rgba(241,236,249,0.5);}

@media screen and (max-width:640px){
  .where-hashtag{display:inline-block;margin-bottom:10px;}
  .where-hashtag p{font-size:20px;}
}


