/* Font */
/*@import url('https://fonts.googleapis.com/css2?family=Gugi&display=swap');*/
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding:wght@400;700&display=swap');


h1,h2,h3,h4,h5,h6,p,ul,li,address,form,fieldset,legend,input,button,dl,dt,dd,table,thead,tbody,tfoot,tr,th,td{margin:0;padding:0;font-family:inherit;}
a img{border:0;}/* a태그로 감싼 이미지의 파란 테두리 삭제 (ie9-10) */
a{text-decoration:none;color:#3d3d3d;}
ul,li{list-style:none;}/* li앞에 동그라미 삭제 */
em,address{font-style:normal;}
fieldset{border:0;}/*테두리삭제*/
legend{display:none;}/* 숨김 */
button{border:0;background:none;cursor:pointer;}
table caption{display:none;}
input, textarea, select{border:1px solid #ccc;-moz-appearance:none;appearance:none;-webkit-appearance:none;outline:none;}
*{box-sizing:border-box;}

.clearfix:after{display:block;clear:both;content:".";visibility:hidden;height:0;}
.clearfix{display:block;}

body{margin:0;padding:0;font-size:15px;color:#3d3d3d;line-height:1.5;font-weight:300;-webkit-scrollbar:none;font-family: "Montserrat", sans-serif;}
@media screen and (max-width:640px){
  body{font-size:13px;font-weight:400;}
}
@media screen and (min-width:641px) and (max-width:1199px){
  body{font-size:13px;font-weight:400;}
}

.layout{min-width:1200px;width:100%;/*overflow:hidden;position:relative;*/}
.wrap{width:1200px;margin:0 auto;}
@media screen and (max-width:640px){
  .layout{min-width:0;}
  .wrap{width:auto;margin:0 5%;}
}
@media screen and (min-width:641px) and (max-width:1199px){
  .layout{min-width:0;}
  .wrap{width:auto;margin:0 5%;}
}

/* Pagination */
.pagy-nav{margin:15px 2% 30px 2%;font-size:15px;}
.pagy-nav .page{margin-right:7px;}
.pagy-nav .active{background:#C7B3E5;padding:5px 10px;color:#fff;border-radius:20px;}

/* line controll */
.line-break-01{word-break:keep-all;line-height:1.4;height:1.5em;overflow:hidden;display:-webkit-box;display:-ms-flexbox;vertical-align:top;text-overflow:ellipsis;-webkit-box-orient:vertical;-webkit-line-clamp:1;}
.line-break-02{word-break:keep-all;line-height:1.4;height:2.8em;overflow:hidden;display:-webkit-box;display:-ms-flexbox;vertical-align:top;text-overflow:ellipsis;-webkit-box-orient:vertical;-webkit-line-clamp:2;}


/* _categories.html.erb */
.visual{}
.visual h2{font-size:30px;}
.visual .category-pc{}
.visual .category-pc ul{padding:10px;}
.visual .category-pc ul li{display:inline-block;margin-right:20px;text-transform:uppercase;}
.visual .category-pc ul li a{font-size:15px;background:rgba(241,236,249,0.4);padding:10px;border-radius:10px;position:relative;}
.visual .category-mobile{display:none;}

.cat-common nav.fixed{position:fixed;top:0;left:0;padding:1em;z-index:9999;background:#fff;width:100%;border-bottom:1px solid #ccc;text-align:center;}
.cat-common nav.fixed a{}
.cat-common .navbar{padding:5px;}
.category-pc{display:-webkit-box;display:flex;-webkit-box-orient:horizontal;-webkit-box-direction: normal;flex-flow: row wrap;-webkit-box-pack:center;/*justify-content:center;*/}
.category-pc:before, .category-pc:after{content:"";background:#ccc;padding:0.5px;-webkit-box-flex:100%;flex:100%;visibility:visible}

@media screen and (max-width:640px){
  .visual{margin:0 3%;}
  .visual h1{margin-left:8px;}
  .visual ul{display:block;margin:0 auto;overflow-x:scroll;white-space:nowrap;overflow-y:hidden;}
  .visual ul li{float:none;display:inline-block;margin-right:10px;line-height:30px;text-transform:uppercase;}
  .visual ul li a{font-size:15px;}
  .cat-common .navbar{padding:8px 0;}
  .visual .category-pc{display:none;}
  .visual .category-mobile{display:block;border-bottom:1px solid #ccc;}
  .visual .category-mobile ul.left{float:left;width:80%;}
  .visual .category-mobile ul.right{float:left;width:20%;text-align:center;}
  .visual .category-mobile ul li a{font-size:15px;background:rgba(241,236,249,0.4);padding:10px;border-radius:10px;}
}

@media screen and (min-width:641px) and (max-width:1199px){
  .visual{margin:0 1%;}
  .visual ul{display:block;margin:0 auto;overflow-x:scroll;white-space:nowrap;overflow-y:hidden;}
  .visual ul li{float:none;display:inline-block;margin-right:10px;line-height:30px;text-transform:uppercase;}
  .visual ul li a{font-size:15px;}
  .visual .category-pc{display:none;}
  .visual .category-mobile{display:block;border-bottom:1px solid #ccc;}
  .visual .category-mobile ul.left{float:left;width:80%;}
  .visual .category-mobile ul.right{float:left;width:20%;text-align:center;}
}


/* From */
.hotdeal_form{width:1200px;}
.hotdeal_form .basic_info{width:800px;}
.hotdeal_form input, .hotdeal_form textarea{display:block;width:100%;height:40px;margin-bottom:20px;border:1px solid #ccc;}
.hotdeal_form textarea{height:80px;}
.hotdeal_form trix-editor{min-height:15em;}
.hotdeal_form label{font-size:13px;}
.hotdeal_form .pricing div{float:left;;margin:1%;}
.hotdeal_form .pricing div .promo_code{width:500px;margin-right:1%;}
.hotdeal_form .pricing div .promo_date{width:300px;}
.hotdeal_form .form_btn input{margin-top:10px;background:#000;color:#fff;padding:15px 0;}


/* Btn for back */
.back_btn_mobile{position:fixed;bottom:10px;left:10px;display:none;}
.back_btn_mobile a{display:block;}
.back_btn_mobile a img{width:50px;height:50px;opacity:0.2;}

@media screen and (max-width:640px){
  .back_btn_mobile{display:block;}
}

/* hashtag */
.where-hashtag{margin-left:3%;}
.where-hashtag p{font-size:20px;}
.where-hashtag span{display:inline;box-shadow:inset 0 -10px 0 rgba(241,236,249,0.7);;}
.where-hashtag span:after{content:"";
  width: 0;
  height: 10px;
  display: inline-block;
  background:rgba(241,236,249,0.5);
}



