.container/* Index Pgae */
/*.topoftop{background:#C7B3E5;height:10px;}*/
.index-wrap{margin-top:10px;}
.index-amdin a{background:#C7B3E5;color:#fff;padding:5px;}
.index-amdin p{margin-bottom:5px;}
.product-border{margin-top:30px;}
/*.visual{margin-bottom:30px;}*/
.visual-theme{margin:0;}
.hashtag-visual{margin:0 0 10px 0;}
.hashtag-visual .where-hashtag{}
.visual p{margin-bottom:-10px;}
.visual .extra_hash{}
.visual .extra_hash a{color:#ccc;margin-right:7px;}
.product-border .card{float:left;width:25%;height:330px;position:relative;border:1px solid #ccc;margin:-1px 0 0 -1px;}
.product-border .card .pct{position:absolute;bottom:70px;left:10px;color:#000;border-radius:10px;background:rgba(241,236,249,0.6);}
.product-border .card .pct p{width:70px;height:20px;display:table-cell;vertical-align:middle;text-align:center;padding:5px;}
.product-border .card .image-box{height:220px;position:relative;}
.product-border .card .image-box img{width:90%;height:90%;position:absolute;top:50%;left:50%;transform:translate(-50%, -50%);object-fit:contain;} 
.featured-border .card .image-box img{object-fit:cover;border-radius:10px;}
.featured-border .card .image-box .contain img{object-fit:contain;}
.product-border .inner{padding:10px 15px;margin-top:25px;}
.featured-border .inner{margin-top:20px;padding:0 15px;}
.featured-border .inner span.source{font-size:10px;color:#ccc;}
.featured-border .inner span.current_price{display:none;}
.featured-border .inner{margin-top:20px;}
.featured-border .inner p a{color:#3d3d3d;}
.product-border .inner p{font-size:13px;margin:5px 0;word-break:keep-all;}
.product-border .inner span.list_price{color:#ccc;text-decoration:line-through;}
.product-border .inner span.current_price{font-size:20px;font-weight:600;color:#3d3d3d;}
.product-border .inner span.current_price span.source{font-size:11px;}
.product-border .inner span.view_count{font-size:13px;color:#ccc;float:right;}

@media screen and (max-width:640px){
  .visual{margin-bottom:15px;}
  .index-wrap .wrap{margin:1%;}
  .blog-wrap .wrap{margin:5%;}
  .hashtag-visual .where-hashtag{border-top:1px solid;border-bottom:1px solid;width:99%;padding:10px 0;text-align:center;}
  .product-border .card{width:50%;}  
  .product-border .card .image-box{width:100%;margin:0;}
  .product-border .card .image-box img{object-fit:cover;border-radius:10px}
  .product-border .inner span.current_price{font-size:16px;}
}

@media screen and (min-width:641px) and (max-width:1199px){
  .hashtag-visual{margin-bottom:15px;}
  .hashtag-visual .where-hashtag{border-top:1px solid;border-bottom:1px solid;width:99%;padding:10px 0;text-align:center;}
  .product-border .card{width:31.3%;}  
  .product-border .card .image-box{width:100%;margin:0;}
  .product-border .card .image-box img{object-fit:cover;border-radius:10px}
}


/* Show Page*/

.container{width:800px;margin:100px auto 0 auto;box-shadow:0 0 20px 0 rgba(0,0,0,.06);border-radius:20px;padding:20px;position:relative;} 
.show-wrap .container .go_back{display:none;}
.show-wrap .two-btn{position:absolute;top:-10px;left:20px;}
.show-wrap .two-btn a{color:#fff;background:#C7B3E5;padding:10px;border-radius:15px;}
.show-wrap .two-btn a img{width:15px;vertical-align:text-bottom;margin-right:5px;opacity:0.2;}
.show-wrap .two-btn a img.go_sale_guide{transform:rotate(180deg);margin-left:5px;}
.show-wrap .image-box{float:left;width:45%;margin-right:5%;position:relative;height:350px;}
.show-wrap .image-box img{width:70%;height:70%;position:absolute;top:50%;left:50%;transform:translate(-50%, -50%);object-fit:contain;} 
.show-wrap .featured-img-box{}
.show-wrap .featured-img-box img{width:85%;height:85%;object-fit:cover;border-radius:10px;}
.show-wrap .featured-img-box .contain img{object-fit:contain;}
.show-wrap .inner{float:left;width:50%;}
.show-wrap .inner .btn p.hashtag{text-align:left;margin-top:10px;}
.show-wrap .inner .source{font-size:13px;}
.show-wrap .inner p.f_title{margin-bottom:10px;font-size:24px;word-break:keep-all;}
.show-wrap .inner .detail_info{}
.show-wrap .inner .detail_info span.is{font-size:34px;font-weight:bold;color:#C7B3E5;}
.show-wrap .inner .detail_info .info-box{float:left;width:31.33%;margin:1%;padding:20px 10px;text-align:center;box-shadow:0 0 5px rgba(0,0,0,0.15);border-radius:15px;}
.show-wrap .inner .detail_info .no-pang{width:48%;}
.show-wrap .summary_title{margin-top:2em;}
.show-wrap .receipt{height:120px;display:grid;grid-template-columns:2fr 1fr;}
.show-wrap .receipt__grid1 p{color:#3d3d3d;}
.show-wrap .receipt__grid1 p span{font-size:12px;}
.show-wrap .receipt__grid1 p.pct{display:inline;box-shadow:inset 0 -10px 0 rgba(241,236,249,0.9);}
.show-wrap .receipt__grid2{text-align:right;}
.show-wrap .receipt__grid2 p em{color:#fff}
.show-wrap .total_price{font-size:20px;color:#C7B3E5;font-weight:600;}
.show-wrap .total_text{font-size:20px;}
.show-wrap .btn-box{text-align:center;margin-top:20px;}
.show-wrap .btn-box a.btn{border:2px solid black;border-radius:100px;padding:10px 20px;font-size:14px;background:#a284e0;box-shadow:inset 7px 2px 0 white, inset -0.5px 0.5px 0 white, inset -5px -3px 0 #a284e0;color:#fff;position:relative;display:block;}
.show-wrap .title{}
.show-wrap .title h2{font-size:15px;font-weight:300;}
.show-wrap .admin{text-align:left;}
.show-wrap .notice{margin-top:8px;}
.show-wrap .notice span{display:block;font-size:11px;color:#ccc;}
.navbar-fixed{top:0;left:0;z-index:100;position:fixed;width:100%;background:#fff;padding:10px;box-shadow:0 0 20px rgba(0, 0, 0, 0.1);text-align:center;}




@media screen and (max-width:640px){
  .show-header{display:none;}
  .show-wrap .wrap{margin:0;}
  .show-wrap .container{position:relative;margin:auto auto 30px auto;overflow:hidden;width:100%;height:auto;/*box-shadow: 5px 5px 20px rgba(17, 17, 31, 0.3);*/}
  .show-wrap .two-btn{top:40px;left:35px;}
  .show-wrap .image-box{width:100%;height:300px;margin:3em 0 0 0;}
  .show-wrap .featured-img-box{float:none;margin-bottom:30px;}
  .show-wrap .image-box img{width:75%;height:75%;}
  .show-wrap .featured-img-box img{width:95%;height:95%;}
  .show-wrap .inner{float:none;width:100%;}
  .show-wrap .summary_title{margin:0.5em 3em -2.5em 1.2em;}
  .show-wrap .receipt{margin:3em 2em 0 2em;width:auto;}
  .show-wrap .receipt__grid1{margin-top:1.1em;font-size:15px;}
  .show-wrap .receipt__grid2{margin-top:1.1em;font-size:15px;}
  .show-wrap .receipt__grid2 p{text-align:right;}
  .show-wrap .admin{margin:0 5%;}
  .show-wrap .title{margin:300px 2em 0 2em;width:87%;}
  .show-wrap .title h2{font-size:13px;}
  .show-wrap .btn, .show-wrap .total-notice, .show-wrap .notice{width:auto;margin:5%;}
  .show-wrap .featured-btn-box .btn, .show-wrap .featured-notice{margin:0;}
  .show-wrap .container .go_back{display:block;width:40px;height:40px;opacity:0.1;margin:1em 0 0 1.5em;}
}

@media screen and (min-width:641px) and (max-width:1199px){
  .container{width:100%;margin-top:50px;position:relative;}
  .show-wrap .container button{position:absolute;z-index:999;}
  .show-wrap .container .go_back{display:block;width:40px;height:40px;opacity:0.1;margin:1em 0 0 1.5em;}
}







