/* Index Pgae */
.topoftop{background:#C7B3E5;height:10px;}
.index-wrap{margin-top:10px;}
.index-amdin a{background:#C7B3E5;color:#fff;padding:5px;}
.index-amdin p{margin-bottom:5px;}
.product-border{}
.visual{margin-bottom:30px;}
.product-border .card{float:left;width:23%;height:300px;margin:1% 1% 3% 1%;position:relative;box-shadow:0 0 5px rgba(0,0,0,0.15);border-radius:20px;}
.product-border .card .pct{position:absolute;bottom:70px;left:10px;color:#000;border-radius:10px;background:rgba(241,236,249,0.6);}
.product-border .card .pct p{width:70px;height:20px;display:table-cell;vertical-align:middle;text-align:center;padding:5px;}
.product-border .card .image-box{width:270px;height:200px;position:relative;}
.product-border .card .image-box img{width:80%;height:80%;position:absolute;top:50%;left:50%;transform:translate(-50%, -50%);object-fit:contain;} 
.product-border .inner{padding:10px 15px;margin-top:25px;}
.product-border .inner p{font-size:13px;}
.product-border .inner span.list_price{color:#ccc;text-decoration:line-through;}
.product-border .inner span.current_price{font-size:20px;font-weight:600;color:#3d3d3d;}

@media screen and (max-width:640px){
  .index-wrap .wrap{margin:1%;}
  .product-border .card{width:48%;}  
  .product-border .card .image-box{width:100%;margin:0;}
  .product-border .card .image-box img{width:70%;height:70%;}
}

@media screen and (min-width:641px) and (max-width:1199px){
  .product-border .card{width:31.3%;}  
  .product-border .card .image-box{width:100%;margin:0;}
  .product-border .card .image-box img{width:70%;height:70%;}
}


/* Show Page*/
.container{width:800px;margin:100px auto 0 auto;box-shadow:0 0 20px 0 rgba(0,0,0,.06);;border-radius:20px;padding:20px;} 
.show-wrap .container .go_back{display:none;}
.show-wrap .image-box{float:left;width:45%;margin-right:5%;position:relative;height:350px;}
.show-wrap .image-box img{width:70%;height:70%;position:absolute;top:50%;left:50%;transform:translate(-50%, -50%);object-fit:contain;} 
.show-wrap .inner{float:left;width:50%;}
.show-wrap .inner .btn p.hashtag{text-align:left;margin-top:10px;}
.show-wrap .inner .detail_info{}
.show-wrap .inner .detail_info .info-box{float:left;width:48%;margin:1%;padding:20px 10px;text-align:center;box-shadow:0 0 20px 0 rgb(0 0 0 / 6%);}
.show-wrap .inner .info-box-price{padding:20px 10px;width:98%;margin:0 auto;text-align:center;box-shadow:0 0 20px 0 rgb(0 0 0 / 6%);}
.show-wrap .inner .info-box-price .is{font-size:20px;}
.show-wrap .inner .info-box-price .was{color:#ccc;text-decoration:line-through;margin-right:3px;}
.show-wrap .summary_title{margin-top:2em;}
.show-wrap .receipt{height:120px;display:grid;grid-template-columns:2fr 1fr;}
.show-wrap .receipt__grid1 p span{font-size:12px;}
.show-wrap .receipt__grid2{text-align:right;}
.show-wrap .receipt__grid2 p em{color:#fff}
.show-wrap .total_price{font-size:20px;color:#C7B3E5;font-weight:600;}
.show-wrap .total_text{font-size:20px;}
.show-wrap .btn{text-align:center;margin-top:20px;}
.show-wrap .btn a.amz_btn{background:#C7B3E5;color:#fff;display:block;padding:10px;font-size:15px;border-radius:20px;}
.show-wrap .title{}
.show-wrap .title h2{font-size:15px;font-weight:300;}
.show-wrap .admin{text-align:left;}
.show-wrap .notice{margin-top:8px;}
.show-wrap .notice span{display:block;font-size:11px;color:#3d3d3d;}

.navbar-fixed{top:0;left:0;z-index:100;position:fixed;width:100%;background:#fff;padding:7px 10px;box-shadow:0 0 20px rgba(0, 0, 0, 0.1);text-align:center;}




@media screen and (max-width:640px){
  .show-header{display:none;}
  .show-wrap .wrap{margin:0;}
  .show-wrap .container{position:relative;margin:auto auto 30px auto;overflow:hidden;width:100%;height:auto;/*box-shadow: 5px 5px 20px rgba(17, 17, 31, 0.3);*/}
  .show-wrap .image-box{width:100%;height:300px;margin:0;}
  .show-wrap .featured-img-box{float:none;}
  .show-wrap .image-box img{width:75%;height:75%;}
  .show-wrap .inner{float:none;width:100%;}
  .show-wrap .summary_title{margin:0.5em 3em -2.5em 1.2em;}
  .show-wrap .receipt{margin:3em 2em 0 2em;width:auto;}
  .show-wrap .receipt__grid1{margin-top:1.1em;font-size:15px;}
  .show-wrap .receipt__grid1 p{color:#11111f;}
  .show-wrap .receipt__grid2{margin-top:1.1em;font-size:15px;}
  .show-wrap .receipt__grid2 p{text-align:right;}
  .show-wrap .admin{margin:0 5%;}
  .show-wrap .title{margin:300px 2em 0 2em;width:87%;}
  .show-wrap .title h2{font-size:13px;}
  .show-wrap .btn, .show-wrap .total-notice, .show-wrap .notice{width:auto;margin:5%;}
  .show-wrap .container .go_back{display:block;width:40px;height:40px;opacity:0.1;margin:1em 0 0 1.5em;}
}

@media screen and (min-width:641px) and (max-width:1199px){
  .container{width:100%;margin-top:50px;}
  .show-wrap .container .go_back{display:block;width:40px;height:40px;opacity:0.1;margin:1em 0 0 1.5em;}
}








header {
  height: 60px;
  position: relative;
}

header .header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1200px;
  margin: 0px auto;
  height: 100%;
  transition: 0.3s;
}
header .header-container .logo {
  position: relative;
}
header .header-container .logo span:nth-of-type(1) {
  font-family: "Montserrat", sans-serif;
  font-size: 25px;
  font-weight: 600;
}
header .header-container .mobile_nav {
  margin: 1px 10px 0;
  display: none;
}
header .header-container .mobile_nav .burger {
  width: 19px;
  height: 19px;
  position: relative;
  overflow: hidden;
}
header .header-container .mobile_nav .burger:active .top, header .header-container .mobile_nav .burger:focus .top, header .header-container .mobile_nav .burger:hover .top {
  width: 60% !important;
}
header .header-container .mobile_nav .burger:active .middle, header .header-container .mobile_nav .burger:focus .middle, header .header-container .mobile_nav .burger:hover .middle {
  width: 70% !important;
}
header .header-container .mobile_nav .burger:active .bottom, header .header-container .mobile_nav .burger:focus .bottom, header .header-container .mobile_nav .burger:hover .bottom {
  width: 80% !important;
}
header .header-container .mobile_nav .burger .mobile_nav__label {
  margin: -10px 5px;
  width: 135px;
  position: absolute;
}
header .header-container .mobile_nav .burger .stripe {
  height: 4px;
  background: black;
  position: absolute;
  transition: 0.2s ease;
}
header .header-container .mobile_nav .burger .top {
  right: 0;
  top: 0;
  width: 100%;
}
header .header-container .mobile_nav .burger .middle {
  left: 0;
  top: 0;
  margin: 6.9px 0;
  width: 60%;
}
header .header-container .mobile_nav .burger .bottom {
  right: 0;
  top: 0;
  margin: 14px 0;
  width: 80%;
}
header .header-container .head_nav {
  margin: 0 50px;
  width: 100%;
}
header .header-container .head_nav ul {
  text-align: center;
}
header .header-container .head_nav ul .visited a:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  background: black;
  margin: 15.5px 0;
  right: 0;
}
header .header-container .head_nav ul li {
  display: inline-block;
  margin: 0 15px;
}
header .header-container .head_nav ul li a {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.8px;
  position: relative;
}
header .header-container .head_nav ul li a:after, .visual .category-pc ul li a:after {
  content: "";
  position: absolute;
  width: 0%;
  height: 4px;
  background: black;
  transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  margin: 15.5px 0;
  right: 0;
}
header .header-container .head_nav ul li a:hover:after, .visual .category-pc ul li a:hover:after {
  width: 100%;
  left: 0;
}
header .header-container .icons {
  min-width: 85px;
}
header .header-container .icons a {
  margin: 0 5px 0;
  display: block;
  height: 27px;
  width: 27px;
}
header .header-container .icons a:hover svg {
  fill: #4c4c4c !important;
}
header .header-container .icons a:active svg {
  fill: #3F51B5 !important;
}
header .header-container .icons .block {
  display: inline-block;
}
header .header-container .icons svg {
  display: block;
  transition: 0.2s ease;
}



.mobile_menu {
  background: black;
  width: 90%;
  height: 420px;
  top: 65px;
  left: 0;
  margin: 10px 20px;
  border-radius: 4px;
  position: absolute;
  display: none;
  z-index:999;
}
.mobile_menu:before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 15px 15px 15px;
  border-color: transparent transparent #000000 transparent;
  margin: -10px 35px;
}
.mobile_menu nav {
  padding: 50px;
}
.mobile_menu nav ul .slide a {
  opacity: 1;
  position: relative;
  animation: hidecolor 0.5s ease;
}
.mobile_menu nav ul .slide a:before {
  content: "";
  position: absolute;
  background:#C7B3E5;
  width: 0%;
  height: 35px;
  animation: slide 0.5s ease;
}
.mobile_menu nav ul li {
  margin: 30px 0px;
}
.mobile_menu nav ul li a {
  font-family: "Montserrat", sans-serif;
  opacity: 0;
  font-size: 25px;
  font-weight: 600;
  padding: 10px 0px;
  color: white;
}

@media only screen and (max-width: 1100px) {
  .mobile_menu {
    display: none;
  }

  header .header-container {
    width: 700px;
  }
}
@media only screen and (max-width: 800px) {
  .mobile_menu {
    display: none;
  }

  header {
    padding: 0 50px;
    height: 60px;
  }
  header .header-container {
    width: 100%;
  }
  header .header-container .icons a {
    width: 25px;
    height: 25px;
  }
  header .head_nav {
    display: none;
  }
  header .logo {
    width: 100%;
    text-align: center;
  }
  header .mobile_nav {
    cursor: pointer;
    display: block !important;
  }
  header .mobile_nav .stripe {
    width: 100% !important;
  }
}
@media only screen and (max-width: 500px) {
  header {
    padding: 0 20px;
  }
  header .logo span {
    font-size: 20px !important;
  }

  .mobile_menu {
    height: 295px;
  }
  .mobile_menu:before {
    margin: -10px 5px;
  }
  .mobile_menu nav {
    padding: 30px 50px;
  }
  .mobile_menu nav ul li {
    margin: 20px 0px;
  }
  .mobile_menu nav ul li a {
    font-size: 18px;
  }
  .mobile_menu nav ul li a:before {
    height: 23px !important;
  }
}
@keyframes slide {
  0% {
    width: 0;
    padding: 0px 10px;
    margin: 0px -5px;
  }
  80% {
    width: 105%;
    padding: 0px 10px;
    margin: 0px -5px;
  }
  100% {
    width: 0;
    padding: 0 0;
  }
}
@keyframes hidecolor {
  0% {
    color: black;
  }
  75% {
    color: black;
  }
  100% {
    color: white;
  }
}