<div class="category-pc clearfix cat-common" data-turbolinks="false">
  <nav class="navbar clearfix">
    <ul>
      <li><a href="/sales">Everything</a></li>
      <li><a href="/sales/hashtag/tech">Tech</a></li>
      <li><a href="/sales/hashtag/homeware">Homeware</a></li>
      <li><a href="/sales/hashtag/kitchen">Kitchen</a></li>
      <li><a href="/sales/hashtag/fashion">Fashion</a></li>
      <li><a href="/sales/hashtag/beauty">Beauty</a></li>
      <li><a href="/sales/hashtag/outdoor">Outdoor</a></li>
      <li><a href="/sales/hashtag/pet_goods">Pet_Goods</a></li>
      <li><a href="/themes">Sale Guide</a></li>
      <!-- <li><a href="/scategories">+ More</a></li> -->
    </ul>
  </nav>
</div>

<div class="category-mobile clearfix cat-common" data-turbolinks="false">
  <nav class="navbar-mobile clearfix">
    <ul class="left">
      <li><a href="/sales">Everything</a></li>
      <li><a href="/sales/hashtag/tech">Tech</a></li>
      <li><a href="/sales/hashtag/homeware">Homeware</a></li>
      <li><a href="/sales/hashtag/kitchen">Kitchen</a></li>
      <li><a href="/sales/hashtag/fashion">Fashion</a></li>
      <li><a href="/sales/hashtag/beauty">Beauty</a></li>
      <li><a href="/sales/hashtag/outdoor">Outdoor</a></li>
      <li><a href="/sales/hashtag/pet_goods">Pet_Goods</a></li>
      <li><a href="/themes">Sale Guide</a></li>
    </ul>
    <!-- <ul class="right">
      <li><a href="/scategories">+ More</a></li>
    </ul> -->
  </nav>
</div>

<script type="text/javascript">
  $(window).scroll(function () {
    console.log($(window).scrollTop())
    if ($(window).scrollTop() > 63) {
      $('.navbar-mobile').addClass('navbar-fixed');
    }
    if ($(window).scrollTop() < 64) {
      $('.navbar-mobile').removeClass('navbar-fixed');
    }
  });
</script>