<div class="category-pc clearfix cat-common" data-turbolinks="false">
  <nav class="navbar">
    <ul>
      <li><a href="/sales">Everything</a></li>
      <li><a href="/sales/hashtag/테스트1">테스트1,</a></li>
      <li><a href="/sales/hashtag/테스트2">테스트2,</a></li>
      <li><a href="/sales/hashtag/electronics">Electronics,</a></li>
      <li><a href="/sales/hashtag/home">Home,</a></li>
      <li><a href="/sales/hashtag/kitchen">Kitchen,</a></li>
      <li><a href="/sales/hashtag/fashion">Fashion,</a></li>
      <li><a href="/sales/hashtag/outdoor">Outdoor,</a></li>
      <li><a href="/sales/hashtag/pet_supplies">Pet Supplies</a></li>
    </ul>
  </nav>
</div>

<div class="category-mobile clearfix cat-common" data-turbolinks="false">
  <nav class="navbar">
    <ul class="left">
      <li><a href="/sales">Everything</a></li>
      <li><a href="/sales/hashtag/electronics">Electronics,</a></li>
      <li><a href="/sales/hashtag/home">Home,</a></li>
      <li><a href="/sales/hashtag/kitchen">Kitchen,</a></li>
      <li><a href="/sales/hashtag/fashion">Fashion,</a></li>
      <li><a href="/sales/hashtag/outdoor">Outdoor,</a></li>
      <li><a href="/sales/hashtag/pet_supplies">Pet Supplies</a></li>
    </ul>
    <ul class="right">
      <li><a href="#n">+ More</a></li>
    </ul>
  </nav>
</div>

<script type="text/javascript">
  $(window).scroll(function () {
    console.log($(window).scrollTop())
    if ($(window).scrollTop() > 63) {
      $('.navbar').addClass('navbar-fixed');
    }
    if ($(window).scrollTop() < 64) {
      $('.navbar').removeClass('navbar-fixed');
    }
  });
</script>