<div class="index-amdin" data-turbolinks="false">
  <%= link_to 'New Sale', new_sale_path %>
  <a href="/featureds">Featured</a>
  <a href="/bridge/manage_hashtags">Manage Hashtags</a>
  <a href="/bridge/delete_old_deal">Delete Old Deals</a>
  <a href="/scategories">SaleCategory</a>
  <%= link_to 'Sign out', destroy_user_session_path, method: :delete %>
</div>